{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}LAX Weather{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello {% if name %}{{ name }}{% endif %}!</h1>
</div>
    {% for field in form.errors %}
       {% for error in form.errors[field] %}
          <div class="error">{{ error }}</div>
       {% endfor %}
    {% endfor %}
    {% if ziperror %}
        {{ ziperror }}
    {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
	{{ form.csrf_token }}
	<p>
            {{ form.locale.label }}
            {{ form.locale(size=32) }}
            {{ form.submit() }}</p>
    </form>
    {% if weather %} 
        <table>
	<tr><th>Current Weather</th></tr>
        {%for city in weather %}
	<tr>
	    <td>{{city['city']}} Temp: {{city['temp']}} Wind Chill: {{city['windchill']}}
            Pressure: {{city['pressure']}} Sky Conditions: {{city['skies']}}</td>
	</tr><tr><td>&nbsp</td></tr>
	{%endfor%}
	</table>
    {% endif %}
{% endblock %}
